@media(min-width: 800px) {
  .intro {
    padding-top: 14.625rem;
    background-size: 245%;
    background-position: 27% 51%;

    &::before {
      background: gradient(intro, -90deg);
    }

    &-title {
      font-size: 3.65rem;
    }
  }
}
