/******************
 ***** RESETS *****
 ******************/

html, body, footer {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow: hidden;
}

html , body, header, main, 
h1, h2, h3, h4, h5, h6, hr,
ol, ul, li, a, div, span, p, button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li, ol, ul, a {
  color: inherit;
  list-style: none;
  text-decoration: none;
}

/*************************
 ***** COMMON STYLES *****
 *************************/
.container {
  margin: 0 $s_space;

  @media(min-width: 800px) {
    width: calc(100% - 2rem);
    max-width: 69.875rem;
    margin: 0 auto;
    padding: 0;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.635rem;
  height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  @include transition;
}


